{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">ARRITMIAS</h1>
    <p class="lead">{{contactos}}</p>
    <hr class="my-4">
    <p>Es un trastorno de la frecuencia cardíaca (pulso) o del ritmo cardíaco. El corazón puede latir demasiado rápido (taquicardia), 
        demasiado lento (bradicardia) o de manera irregular.
        Una arritmia puede no causar daño, ser una señal de otros problemas cardíacos o un peligro inmediato para su salud..</p>
    
    
  </div>
  <img src="https://firebasestorage.googleapis.com/v0/b/optativa-iii.appspot.com/o/images%2Fdist.png?alt=media&token=d9935fa5-e5d2-4dcb-a12e-10d17b649caf" alt="Gráfico de Wavelets">
  <img src="https://firebasestorage.googleapis.com/v0/b/optativa-iii.appspot.com/o/images%2Fecg.png?alt=media&token=da7438bf-b08c-4798-8a47-86f0b04600b7" alt="Detección de Picos"> 
{% endblock %}