{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Autores del Proyecto</h1>
    <p class="lead">Edwin Bryan Chalacán Araujo.</p>
    <p class="lead">Fredy Patricio Román Guanoluisa.</p>
    <hr class="my-4">
    <p>La Bradicardia es un tipo de arritmia que es definida como “una frecuencia cardiaca menor a 60 latidos por minuto (lpm)”(MD, 2007); 
        Se presenta comúnmente en personas mayores de 60 años y bebes con pocos años de nacimiento, muchas de las veces las personas que 
        llegan a tener este tipo de falencia cardiaca, no llegan a presentar síntomas físicos que no se relacionen directamente con los lpm.
         Por esto es que la bradicardia debe ser tratada y la mejor forma es la realización de exámenes físicos, en el electrocardiograma
          principalmente se muestra este tipo de patologías, un doctor las puede detectar únicamente con la vista y una regla que tenga a la
           mano. Muchas de las veces no tendremos un doctor que nos atienda en el momento justo, lo más recomendable es la utilización de
            marcapasos.
    </p>
            <img src="https://static.wixstatic.com/media/8accb2_e6ecfaab5d644df297215377c0238ffe~mv2.gif" >

    <p>Una señal proveniente de un análisis cardiográfico nos indica varios datos que, dependiendo de amplitud, tiempo , frecuencia, etc.
         puede determinar un sin número de patologías. La patología que forma base de estudio en este proyecto es la bradicardia ,
          es una de las pocas enfermedades que no muestra deformaciones entre las ondas de la señal, más bien vamos a necesitar la duración 
          en tiempo que se encuentre de una onda R a otra onda R o a lo que también se lo denomina Intervalo RR.
    </p>

            <img src="https://www.arritmiasevilla.es/uploads/5/5/2/9/5529429/723563_orig.gif">
    <p>Ya que hablamos de que ondas necesitaremos para encontrar una característica de la patología bradicardia , 
        debemos mencionar que la única forma de ello es obtener la FRECUENCIA CARDIACA de cada individuo estudiado; todas aquellas 
        frecuencias que se encuentren por debajo de los 60 lpm se considerara como una señal que posee la patología bradicardia.
        
        
    </p>
    
  </div>
{% endblock %}